h1 {
  text-align: center;
} 

.App {
  text-align: center;
  background-color: green;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.App-header {
  padding: 20px;
}

.deck-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.draw-button {
  z-index: 2;
  margin-bottom: 20px;
}

.cards-container {
  position: relative;
  height: auto;
  width: 200px;
  margin-top: 20px;
}

.card-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; 
}


